@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../font/Poppins-SemiBold.eot');
  src: url('../font/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-SemiBold.woff') format('woff'),
  url('../font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
