{% extends "layout.html" %}
{% block content %}
{% set bodyClass = "index-page" %}
{% set title = "gitmeden" %}
    <div class="container-fluid">
        <div class="row">
    <div class="contentmain">
        <div class="item">
          <div class="content">
            <img class="wow img-responsive try" src="assets/images/rectangle 30.png" alt="">
            <div class = "try2 git"> <img src="assets/images/Group 112.png"> <p>NEDİR?</p> 
              <div class="secondHead">Haklısın gitmeden olmaz!</div>
              <div id="description">Şimdi işi gücü bırakıp trafiğe takılmak, strese kapılmak da hiç olmaz diyorsan biz varız! Siz gitmeden biz oraya gidiyoruz, kameralarımızla size her detayı gösteriyoruz.</div>
            </div>

          </div>
        </div>
        <div class="item">
            <div class="content">
              <img class="img-responsive try" src="assets/images/slide2.png" alt="">
              <div class = "try2 git"> <img src="assets/images/Group 112.png"> <p>NEDİR?</p> 
                <div class="secondHead">Planın ister satmak, ister kiralamak olsun!</div>
                <div id="description">Ev, ofis, dükkan, fabrika, arsa, tarla… Siz seçersiniz biz sizin yerinize “alıcı gözüyle” gider hepsini görürüz. Üstelik karar verebilmeniz için yorumlarımızla destek oluruz.</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <img class="img-responsive try" id="phoneslide" src="assets/images/Group 127.png" alt="">
                  <div class = "try2 git"> <img src="assets/images/Group 112.png"> <p>NEDİR?</p> 
                <div class="secondHead">Tüm alternatiflerini gör, son kararı ver!</div>
                <div id="description">Sizin yerinize görmeye gittiğimiz gayrimenkulün başında uzmanlarımıza anında istediğiniz soruyu sorabilirsiniz! Böylece oradan ayrıldığımızda aklınızda tek bir soru işareti kalmaz! Gitmeden görmüş kadar olursunuz!
                  </div> 
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div> 



<div class="test11">
<div class="howToUse">
  <div class="UseContent">
    <img src="assets/images/Group113.png" alt="">
    <p class="howToUseHeader">Nasıl Kullanılır?</p>
    <p class="howToUseContent">Müsait değil misiniz? Yoksa şehir dışında mısınız? <br>
      Hiç sorun değil, Gitmeden tecrübeli ekibiyle yanınızda!<br>
      Gayrimenkul alacağınız konumu seçin, ardından size sunacağımız deneyimli<br> ekibimizden ilerlemek istediğiniz kişiye karar verin.</p>
      <div class="secondsliderimgdiv">
        <img class="wow firstphoneimage" src="assets/images/howtouseimg.png" alt="">
      <img class="secondphoneimage" src="assets/images/howtouseimg.png" alt="">
      </div>
    </div>
  <div class="UseContent">
    <img src="assets/images/Group113.png" alt="">
    <p class="howToUseHeader">Nasıl Kullanılır?</p>
    <p class="howToUseContent">
        Ekip arkadaşlarımızdan seçtiğiniz kişiyle görüşme için tarih ve saat<br> belirleyebilir ve bu tarihte görüntülü görüşme gerçekleştirebilirsiniz. 
    </p>
      <div class="secondsliderimgdiv">
        <img class="firstphoneimage" src="assets/images/howtouseimg.png" alt="">
      <img class="secondphoneimage" src="assets/images/howtouseimg.png" alt="">
      </div>
  </div>
  <div class="UseContent">
    <img src="assets/images/Group113.png" alt="">
    <p class="howToUseHeader">Nasıl Kullanılır?</p>
    <p class="howToUseContent">Görüşmeniz tamamlandıktan sonra ziyaret edilen gayrimenkulle ilgili<br> bilgilere ve videoya tekrar ulaşabilir diğer seçenekler ile kıyaslayabilirsiniz.</p>
    
      
    <div class="secondsliderimgdiv">
        <img class="firstphoneimage" src="assets/images/howtouseimg.png" alt="">
      <img class="secondphoneimage" src="assets/images/howtouseimg.png" alt="">
      </div>
  </div>
</div>
</div>
{% endblock %}