<footer>

    <div class="container-fluid formfooter">
        <div class="row">
            <div class="container contactUs">
                <div id="FormHeader">
                    <h1>Bize Ulaşın!</h1>
                </div>
                <div id="Forminput">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="inputText" type="text" placeholder="İsim Soyisim">
                        </div>
                        <div class="col-md-4">
                            <input class="inputText" type="text" placeholder="E Posta">
                        </div>
                       <div class="col-md-4">
                           <input class="inputText" type="text" placeholder="Konu" id="konu">
                       </div>
                        <div class="col-md-12 mailcontent   ">
                            <input class="inputText" type="text" placeholder="Mesaj" id="contentInput">
                        </div>
                        <div class="col-md-12" id="sendbutton">
                            <input id="send"type="button" value="Gönder">
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row" id="contactDetails">
            <div class="col-md-6"><h2>İletişim Bilgilerimiz</h2>
                <p>Yandaki bilgiler üzerinden bizimle iletişime geçebilirsiniz.
                    Soru ve görüşlerinizi bekliyoruz..</p></div>
            <div class="col-md-6" id="icons">
                <div class="col-md-4">
                    <i class="fa fa-envelope icon" aria-hidden="true"></i>
                    <p>E POSTA</p>
                    <p class="infos">info@gitmeden.com</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-mobile icon" aria-hidden="true"></i>
                    <p>Telefon</p>
                    <p class="infos">0850 799 2233</p>
                </div>
                <div class="col-md-4" id="adress">
                    <i class="fa fa-map-marker icon" aria-hidden="true"></i>
                    <p>Adres</p>
                    <p class="infos">Keskin kalem sok. no:41 Esentepe Şişli/İstanbul</p>
                </div>

            </div>
        </div>
    </div>
    <div class="socialDiv">
        <ul>
            <a href="#">
                <li><i class="fa fa-vk" aria-hidden="true"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-pinterest-p" aria-hidden="true"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
            </a>


        </ul>
    </div>
    <div class="licenseDiv container-fluid">Gitmeden.com - 2019</div>
    <script type="text/javascript" src="assets/js/scripts.min.js"></script>
</footer>