<header>
    <div class="container-fluid">
        <div class="row">
            <div class="headerMainDiv">
                <div class="container">
                    <div class="unscrollnavbar" id="stickymenu">
                        <div class="col-md-5">
                            <ul class="menuNormalize">
                                <a href="#">
                                    <li>ANA SAYFA</li>
                                </a>
                                <a href="#">
                                    <li>NEDİR?</li>
                                </a>
                                <a href="#">
                                    <li>NASIL KULLANIR?</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-2 logodiv">
                            <img class="menulogo img-responsive" src="assets/images/Group-100.png">
                        </div>
                        <div class="col-md-5 rightmenu">
                            <ul class="menuNormalize" id="rightNavMenu">
                                <a href="#">
                                    <li>YORUMLAR</li>
                                </a>
                                <a href="#">
                                    <li>İLETİŞİM</li>
                                </a>
                                <a href="#">
                                    <li>KAYIT OL</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="headerContent">
                    <div style="text-align: left; margin-left: 40px; margin-bottom: 40px">
                        <p>Emlak arayışında en büyük <span style="margin-left: 50px">asistanınız</span></p>
                    </div>
                    
                    <p id="deneme">Emlak sektöründeki uzmanlığımızı teknolojiyle birleştirerek<br>
                            hayatınızı kolaylaştıracak yepyeni bir mobil uygulama sunuyoruz.</p>
                    
                </div>
                <div class="phoneimages">
                   <div class="row">
                           <div class="deneme">
                            <img  id="rating" class="wow fadeInLeft" src="assets/images/degerlendirme.png" data-wow-duration="1s" alt="">
                            <img  id="mesaj" class="wow fadeInRight" src="assets/images/mesajlasma.png" data-wow-duration="1s" alt="">
                            <img  id="aa" class="wow fadeIn" src="assets/images/mesajlasma.png" data-wow-duration="1s" alt="">
                            <img  id="oiki" class="wow fadeInLeft" src="assets/images/o2.png" data-wow-duration="1s" alt="">
                            <img  id="blackphone" class="wow fadeInRight" src="assets/images/b.png" data-wow-duration="1s" alt="">
                            </div>
                </div> 
                </div>
            </div>
            <div id="store">
                <p>Gitmeden Şimdi Marketlerde! Hemen Ücretsiz Olarak İndirin!</p>
                <a href="#"><img class="headerStoreScale" id="headerStoreSpace"src="assets/images/Group-53.png" alt=""></a>   
                <a href="#"> <img class="headerStoreScale" src="assets/images/Group-52.png" alt=""></a><br>
                <img id="scroll" src="assets/images/Union-2.png">
            </div>
        </div>
    </div>
</header>